.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 30px;
  text-align: left;
  padding: 1em;
  font-size: var(--text-sm);
}

.button {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 30px;
  padding: 1em;
  width: 100%;
}
